name: Sync upstream

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:             # 允许手动触发

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout my fork
        uses: actions/checkout@v4
        with:
          ref: main                    # 改成你主要分支的名字（main 或 master）

      - name: Sync with upstream
        uses: aormsby/Fork-Sync-With-Upstream-action@v3.4
        with:
          target: ${{ github.repository }}   # 自动使用当前仓库
          upstream: 'KuekHaoYang/KVideo'             # ← 这里改成上游仓库，例如：vercel/next.js
          upstream_branch: main              # 上游分支名
          target_branch: main                # 你的分支名
